@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

body{
  background: linear-gradient(to right, rgb(33, 148, 243), rgb(129, 243, 224));
  font-family: Roboto;
}

input{
  width: 180px;
  margin: 12px;
  padding: 15px;
  font-size: 20px;
  border-radius: 20%;
  border: none;
}

h2{
  margin-left: 320px;
  color: white;
  text-align: center;
  border: 2px solid white;
  width: 200px;
}

label{
  font-size: larger;
  font-weight: 900;
  font-family: cursive;
  color: white;
}

button{
  padding: 12px;
  font-weight: 800;
  font-size: larger;
  background-color: rgba(104, 104, 228, 0.548);
  color: white;
  border-radius: 30%;
  border: none;
  width: 200px;
}
.box-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 280px;
  height:300px;
}
.box-container table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
}
.box-container table td {
  border:5px solid white;
  width: 200px;
  height: 30px;
}

.active{
  background-color: gray;
}